<!DOCTYPE html>
<html>
  <head>
    <title>AuthorBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href= <%= root_path %> >Navbar</a>
      <span class="navbar-text">
        <%= link_to "Login", "#login", "data-toggle" => "modal", :class => 'btn btn-small' %>
        <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small btn-success' %>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </span>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert" role="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
      <%= render "welcome/login_modal" %>
      <%= render "welcome/sign_up_modal" %>
    </div>

  </body>
</html>
